# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="postgresql://ecardtea:password123@localhost:5432/ecardTea?schema=public"

NEXT_PUBLIC_WEB_URL=""
NEXT_PUBLIC_STORAGE_BASE_URL=

POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NO_SSL=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

#next auth
AUTH_SECRET=
AUTH_TRUST_HOST=

#google console oauth
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

#supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# log lib analytics
NEXT_PUBLIC_LOGLIB_API_KEY=

